@use "../abstracts/mixins" as *;

.destination {
   background-image: url(../assets/images/destination/background-destination-desktop.jpg);
   background-position: center center;
   display: grid;
   grid-template-rows: min-content 1fr;
   justify-content: stretch;
   overflow-x: hidden;

   @include mq(medium) {
      background-image: url(../assets/images/destination/background-destination-tablet.jpg);
   } 

   @include mq(small) {
      background-image: url(../assets/images/destination/background-destination-mobile.jpg);
   } 
}

.destination-container {
   display: grid;
   place-content: start;
   grid-template-columns: repeat(2, minmax(0, 34.64925rem));
   column-gap: clamp(3rem, 8vw, 9.8rem);
   margin-inline: clamp(1rem, 11vw, 10.44rem);
   row-gap: 3.25rem;
   padding-block: 2.5rem;
   grid-template-areas: 
      "title title"
      "pic content";
   
   @include mq(medium) {
      grid-template-columns: 1fr;
      grid-template-areas: 
      "title"
      "pic" 
      "content";

      row-gap: 3rem;

      margin-inline: var(--inline-medium);
   } 

   @include mq(small) {
      margin-inline: var(--inline-small);
      row-gap: 2rem;
   }                
}

.title-section {
   grid-area: title;

   @include mq(medium) {
      text-align: start;
   } 

   @include mq(small) {
      text-align: center;
   } 
}

.destination-wrapper {
   gap: 9.81rem;
}

.dest-pic-section {
   grid-area: pic;
}

.dest-pic-section img {
   width: 100%;
   height: 100%;

   @include mq(medium) {
      width: 18.75rem;
      height: 18.75rem;
   }
   
   @include mq(small) {
      width: 10.625rem;
      height: 10.625rem;
   }
}

.destination-info-wrapper {
   grid-area: content;
   max-width: 27.8125rem;
   min-width: 24.8125rem;
   
   @include mq(medium) {
      align-items: center;
      text-align: center;
      max-width: none;
      min-width: auto;
      margin-inline: 3.6rem;
   }

   @include mq(small) {
      margin-inline: 0;
   }
}

.destination-tab {
   gap: 2.25rem;

   @include mq(small) {
      gap: 1.69rem;
   }
}

.destination-content {
   @include mq(medium) {
     align-items: center;
   }
}

.destination-main {
   gap: 0.87rem;
   padding-block: 2.31rem 3.38rem;
   border-bottom: 1px solid hsl(var(--clr-neutral-2), 0.2515);

   @include mq(medium) {
      gap: 0.5rem;
      padding-block: 2rem 3rem;
   }

   @include mq(small) {
      padding-block: 1.25rem 2rem;
   }
}

.destination-bottom {
   margin-top: 1.75rem;
   gap: clamp(2rem, 6vw, 4.94rem);

   @include mq(small) {
      flex-direction: column;
      gap: 2rem;
      margin-top: 2rem;
   }
}

.distance-section {
   gap: 0.75rem;
}

.destination-tab > * {
   padding-block: 0.75rem;
   background-color: transparent;
}
